.app-content {
	padding-top: 100px;
	padding-bottom: 100px;
}

.bg {
	background-image: url('../img/minimalEggs.jpg');
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
}